# {{ ansible_managed }}
# For all configuration flags, check https://www.zabbix.com/documentation/5.0/manual/appendix/config/zabbix_agentd
{% if ansible_facts['os_family'] == 'Windows' %}
LogFile=C:\Program Files\Zabbix Agent\zabbix_agentd.log
Include=C:\Program Files\Zabbix Agent\zabbix_agentd.d\*.conf
TLSPSKFile=C:\Program Files\Zabbix Agent\zabbix_agentd.key
{% else %}
PidFile=/var/run/zabbix/zabbix_agentd.pid
LogFile=/var/log/zabbix/zabbix_agentd.log
Include=/etc/zabbix/zabbix_agentd.d/*.conf
TLSPSKFile=/etc/zabbix/zabbix_agentd.key
{% endif %}
LogFileSize=0
Server={{ zabbix_server_addresses | join(',') }}
ServerActive={{ zabbix_server_addresses | join(',') }}
Hostname={{ ansible_facts['fqdn'] }}
TLSConnect=psk
TLSAccept=psk
TLSPSKIdentity={{ ansible_facts['fqdn'] }}
